body
{
    background:url("pic.jpg") no-repeat;
    background-size: cover;
    color:rgba(223, 218, 218);
    font-size:70%;
    font-family:Verdana;
    text-align: center;
    margin-top: 30px;
}

h1
{
    margin-left: 10px;
    color:rgb(232, 85, 232);
}

section {
    width: 230px;
    margin:auto;
    padding: 25px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(0.1px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

input
{
    transition:transform 0.2s ease-in-out;
    border-radius: 15px;
    border-color: transparent;
    color:rgb(62, 62, 62);
}

input::placeholder
{
    font-size: 9.5px;
}

input[type=text],input[type=number],input[type=email],input[type=password]
{
    display: block;
    margin:3px auto;
}

input:focus
{
    background-color: rgb(215, 213, 213);
    transform: scale(1.01);G
}

input:focus::placeholder
{
    color:transparent;
}

label[for=term]
{
    display:inline-block;
}

input[type=checkbox]
{
    vertical-align: middle;
    margin-bottom: 5px;
}

input[type=checkbox]
{
    accent-color: rgb(231, 108, 231);
}

input[type=submit]
{
    color:white;
    background-color:rgb(232, 85, 232);
    border-color:white;
}

input[type=submit]:hover
{
    border-color:black;
    color:black;
}

input[type=submit]:focus
{
    color:white;
    border-color: white;
}


